:root {
    --color-orange: #DF8030;
    --color-red: #D04726;
    --color-blue: #1B4681;
    --color-light: #F5E1C1;
    --color-violet: #3E205F;
    --color-light-gray: #D9D9D9;
    --color-secondary: #67686F;
    --color-inputs-bg: #D5DAD2;
    --color-inputs-border: #5B5B5B;
}
