@import './base.css';
@import './fonts.css';
@import './colors.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    min-width: 100vw;
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}
